.container{


    
    
}
.form{
    background-color:darkgray;
}
.titulo{
  
    margin: 20px;
    top: 5px;
    display:inline;
    flex-direction:row;
font-size: 20px;

}
.titulo1{
    display:inline;
    flex-direction:row;
font-size: 20px;
margin-left: 700px;
text-align: right;
}
.mensagem{
    margin-left: 20px;
    padding: 20px 40px;
    width: 700px;
    border-bottom: 50px;
    background-color: green;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.labeldesc,
.labelsolic,
.labelsala,
.labelinicio,
.labelfim{

    margin-left: 20px;
}

.labelcheck{
    
   margin-left: 20px; 
   display:inline;
   flex-direction:column-reverse
}





.descricao{

    display: flex;
    width: 700px;
    height: 80px;
    margin-bottom: 30px;
    margin-left: 20px;

}

.solicitante{
    display: flex;
    width: 700px;
    height: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.sala{
    display: flex;
    width: 700px;
    height: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.datainicio{
    display: flex;
    width: 700px;
    height: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.datafim{
    display: flex;
    width: 700px;
    height: 40px;
    margin-bottom: 30px;
    margin-left: 20px;

}
.check{
    display:inline;

    margin-left: 20px;


}
.buttonreserva{
    margin: 70px;
    color: white;
    background-color: rgb(79, 79, 190);
    border: rgb(79, 79, 190);
    display: flex;
    margin-left: 550px;
    padding: 16px 30px;
    font-size: 14px;


}