.containerForm {
    width: 100%;
    padding: 10px;

}

.containerForm input {
    resize: none;
    height: 40px;
    padding: 5px;
    width: 92%;
    border: 1px solid #cccccc;
}


.containerForm select {
    resize: none;
    height: 40px;
    padding: 5px;
    width: 95%;
    border: 1px solid #cccccc;
}

.containerForm textarea {
    resize: none;
    height: 100px;
    padding: 5px;
    width: 92%;
    border: 1px solid #cccccc;

}

.containerFormCheck {
    display: flex;
    margin: 10px;

}

.containerFormCheck label {
    margin-left: 100px;
}


.buttonreserva {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 5px;
}



.titulo {
    margin: 20px;
    top: 5px;
    display: inline;
    flex-direction: row;
    font-size: 20px;

}

.titulo1 {
    display: inline;
    flex-direction: row;
    font-size: 20px;
    margin-left: 700px;
    text-align: right;
}

.mensagem {
    margin-left: 20px;
    padding: 20px 40px;
    width: 700px;
    border-bottom: 50px;
    background-color: green;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.check {
    display: inline;
    margin-left: 20px;

}